<!-- The above form looks like this -->
<div class="container" style="margin-top:200px; margin-bottom: 200px;" id="contact">
    <h2 style="font-size: 36px; text-align: center; margin-bottom: 30px">Contact Me</h2>
    <p style="text-align:center">Can't wait to hear from you - if you are interested</p>
<form  action="https://getform.io/f/a943795f-23bd-443f-b200-f03cea2b8658" method="POST">
    <div class="row">
      <div class="six columns">
        <label for="exampleEmailInput">Your name</label>
        <input type="text" name="name" class="u-full-width">
        </div>
        <div class="six columns">
        <label for="exampleEmailInput">Your email</label>
        <input class="u-full-width" type="email" placeholder="wherefrom?@who.com" id="exampleEmailInput">
      </div>
    </div>
    <label for="exampleMessage">Message</label>
    <textarea class="u-full-width" placeholder="Hi Sumeyye …" id="exampleMessage"></textarea>
    <label class="example-send-yourself-copy">
        <input type="checkbox">
        <span class="label-body">Are we clear on privacy?</span>
      </label>
    <input class="button-primary" type="submit" value="Submit">
  </form>
</div>
  
  <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->
  
  <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->