<div class="container" id="about" style="margin-top: 100px">
  <div class="row">
    <div class="seven columns">
      <h1>Hi there. I’m Sumeyye, a ____.</h1>
      <p>
        Jack of all trades, master of none. But hey, creating digital
        experiences empower me and give me the creative push to get things done.
        If you want to check out my work you are most welcome!
      </p>
      <a class="button" href="#projects">My Work</a>
      <a class="button button-primary" href="#contact">Contact me</a>
    </div>
    <div class="three columns" style="padding-right: 50px; padding-left: 50px">
      <img
        src="images/img-profile.png"
        alt="profile picture"
        style="text-align: right; text-align: center"
      />
    </div>
  </div>
</div>
