<div class="container" id="about" style="margin-top: 100px">
  <div class="row">
    <div class="six columns">
      <h1>Hi there. I’m Sumeyye, a ____.</h1>  
      <p>
       Welcome to my page! I am aspiring front end developer based on Cologne with the mission to digital experiences that will make users happy and engaged. My background in Applied Linguistics also makes me an excellent researcher and listener. If you can find out the answer about a common language behaviour, you can do the same for a UX question.
       <p>If you have an interesting project, I would love to help you out. Feel free to drop me a line!</p>
       </p>
      </p>
      <a class="button" href="#projects">My Work</a>
      <a class="button button-primary" href="#contact">Contact me</a>
    </div>
    <div class="six columns" style="align-items: center; padding: 10px;">
      <img
        src="images/homepage.gif"
        alt="profile picture"
        class="profile"
      />
    </div>
  </div>
</div>


