<div
  class="container opacity-0 fade"
  style="margin-top: 100px; margin-bottom: 50px"
  id="projects"
>
  <h2 style="font-size: 36px; text-align: center">My work</h2>
  <p style="text-align: center">
    Curious about my projects? Have a sneak peak here
  </p>
  <br />

  <div class="row" style="margin-top: 0px">
    <div class="four columns">
      <div class="card">
      <a href="https://www.zahnarztteam-frankfurt.de/"><img src="images/zahnarztteam.jpg" alt="work" style="width: 100%" /></a>
        <div class="container" style="margin-bottom: 50px;">
          <h4><b>Dentistry website</b></h4>
          <p>
            This is a Wordpress page built with Elementor for a dentists office.
            The old design needed a rehaul.
          </p>
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="card">
        <a href="https://www.greencapsule.de/">   <img src="images/greencapsule.jpg" alt="work" style="width: 100%" /></a>
        <div class="container">
          <h4><b>Green Capsule</b></h4>
          <p>
            This is a Web shop for health and vitamin supplements built with
            Woocommerce on Wordpress using a clean design.
          </p>
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="card">
       <a href="https://www.figma.com/file/43pIYxrAj8tbd8iB9FHyg8/HappyPlant?node-id=7%3A2"><img src="images/happyplant.jpg" alt="work" style="width: 100%" /></a> 
        <div class="container">
          <h4><b>Happyplant App</b></h4>
          <p>
            This is a UX project for an app that will onboard houseplant owners
            and help them not to kill their plant.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 50px">
    <div class="four columns">
      <div class="card">
        <img src="images/progress.png" alt="in progress" style="width: 100%" />
        <div class="container" style="margin-bottom: 50px;">
          <h4><b>Website relaunch</b></h4>
          <p>
            Wordpress site built with Elementor for a financial service.
          </p>
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="card">
        <img src="images/progress.png" alt="in progress" style="width: 100%" />
        <div class="container">
          <h4><b>Webshop</b></h4>
          <p>
            Web shop design for a dropshipping business.
          </p>
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="card">
        <img src="images/progress.png" alt="in progress" style="width: 100%" />
        <div class="container">
          <h4><b>Locator Site + App</b></h4>
          <p>
            Listing page app/site for cafe hoppers who must know their cafe has charging docks.
          </p>
        </div>
      </div>
    </div>
  </div>




</div>
