<div class="container" style="margin-top:100px; margin-bottom: 200px;" id="projects">
    <h2 style="font-size: 36px; text-align: center;">My work</h2>
    <p style="text-align:center">Curious about my projects? Have a sneak peak here</p>


    <div class="row" style="margin-top:50px">
        <div class="four columns">
            <div class="card">
                <img src="images/zahnarztteam.jpg" alt="work" style="width:100%">
                <div class="container">
                  <h4><b>Dentistry website</b></h4>
                  <p>This is a Wordpress page built with Elementor for a dentists office. The old design needed a rehaul.</p>
                </div>
              </div>
        </div>
        <div class="four columns">
          <div class="card">
              <img src="images/greencapsule.jpg" alt="work" style="width:100%">
              <div class="container">
                <h4><b>Green Capsule</b></h4>
                <p>This is a Web shop for health and vitamin supplements built with Woocommerce on Wordpress using a clean design. </p>
              </div>
            </div>
      </div>
        <div class="four columns">
            <div class="card">
                <img src="images/happyplant.jpg" alt="work" style="width:100%">
                <div class="container">
                  <h4><b>Happyplant App</b></h4>
                  <p>This is a UX project for an app that will onboard houseplant owners and help them not to kill their plant.</p>
                </div>
              </div>
        </div>

        </div>


</div>
