@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;0,900;1,900&display=swap');


*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html {
  scroll-behavior: smooth;
}



li, a, button {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
}



header {
  display:flex;
  justify-content: space-between;
  padding: 20px 10%;
}


.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
  list-style: none;
}

.nav_links li a {
  transition: all 0.4s ease 0s;
  text-decoration: none;
  color:#000;
}

.nav_links li a:hover {
  color: #510193;
  text-decoration: underline;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  left: 0;
  text-align: center;
  background-color: #510193;

}

.footer-links a {
  list-style-type: none;
  text-decoration: none;
  padding: 30px 60px 40px 30px;
  font-size: 16px;
  color:#fff;
}

button {
  padding: 10px 25px;
  background-color: #510193  ;
  color:#fff;
  border: none;
  border-radius: 5px;
  border: 1px solid;
  border-color: #510193;
  transition: all 0.4s ease 0s;
}

button:hover {
  background-color: #fff  ;
  color:#510193;
  border: 1px solid;
  border-color: #510193;
  cursor:pointer;

}


